
/* Copy command */
.copy-preview {
  width: 100%;
  height: 15rem;
  opacity: 1;
}


/* Settings */
.important-setting .setting-item-name {
    font-weight: bold
}

.big-text-area   {
	display: flex;
	flex-direction: column;
}

.big-text-area .setting-item-control {
	width: 50%;
}

.big-text-area textarea {
	margin-top: 1rem;
	min-height: 10rem;
	width: 100%;
}
